@model IEnumerable<MilitaryBaseRater.Models.RatingModels.RatingListItem>

@{
    ViewBag.Title = "Index";
}
<div id="rater-index">

<h2>Ratings</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RatingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RatingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallRating)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id = item.RatingID }) |
            
        </td>
    </tr>
}

</table>
</div>
