@model IEnumerable<MilitaryBaseRater.Models.BaseModels.BaseListItem>

@{
    ViewBag.Title = "Index";
}
<div id="base-home">
<h2>My Bases</h2>


<p>
    @Html.ActionLink("Add Base", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BaseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BaseID }) |
            @Html.ActionLink("Details", "Details", new {id = item.BaseID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BaseID })
        </td>
    </tr>
}

</table>
</div>
